.wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 16px;
    max-width: 600px;
    width: 100%;
}

.wrapperInner {
    max-height: 464px;
    max-width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -16px;
}

.item {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.item > svg {
    margin-right: 8px;
}

.btnBlock {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.totalPrice {
    margin-right: 40px;
}

.totalPrice span {
    margin-right: 8px;
}