.card {
    cursor: pointer;
    border-radius: 40px;
    background-color: #1C1C21;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}
.card:not(:last-child) {
    margin-bottom: 16px;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
}

.ingredientsWrapper {
    display: flex;
}

.imageWrapper {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

.imageWrapper:not(:last-child) {
    margin-right: -15px;
}

.imageWrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(128,26,178,1) 0%, rgba(76,76,255,1) 100%);
    z-index: 1;
}

.imageWrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 59px;
    height: 59px;
    background: #131316;
    border-radius: 50%;
    z-index: 2;
}

.imageWrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    z-index: 4;
    object-fit: cover;
}

.price {
    display: flex;
    font-size: 28px;
    margin-bottom: 8px;
}

.green {
    color: #00CCCC;
}

.itemWrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredientNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}