.containerInner {
    display: flex;
    gap: 24px;
}

.wrapper {
    width: 100%;
}

.wrapperInner {
    display: flex;
    justify-content: space-between;
}

.done .number {
    color: #00CCCC;
}

.lightNumber {
    color: #F2F2F3;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.number:not(:last-child) {
    margin-bottom: 8px;
}