.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    transition: color .3s;
}

.item svg {
    transition: fill .3s;
}

.item.active,
.item:hover {
    color: #F2F2F3;
}

.item:hover svg {
    fill: #F2F2F3;
}

.item span {
    margin-left: 8px;
}