.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title {
    flex-grow: 0;
}

.wrapper {
    flex-grow: 1;
    max-width: 600px;
    overflow-y: auto;
    position: relative;
}
