.header {
    background: #1C1C21;
}

.header a {
    color: #8585AD;
    text-decoration: none;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    transition: color .3s;
}

.item.active,
.item:hover{
    color: #F2F2F3;
}

.item span {
    margin-left: 8px;
}

.wrapperInner {
    display: flex;
    align-items: center;
    margin: 0 -20px;
}

.logo {
    margin-left: 130px;
}

.profile {
    composes: item;
}